    *{
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }
        body{
            padding: 10px;
            margin: 0px;
            font-size: 1.2em;
        }
        main{
            display: grid;
            grid-template-areas: "head head head"
            "side content content"
            "foot foot foot";
            grid-row: 50px auto 50px;
            grid-template-columns: 150px 1fr 1fr;
        }
        header{
            grid-area: head;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 10px;
            background-color: #a6c6f5;
            color: white;
            align-items: center;
            width: 100%;
            font-size: 1.2em;
        }
        .logout-btn{
            display: flex;
            align-items: center;
            text-align: center;
            color: #a6c6f5;
        }
        .logout-btn button{
            width: 100px;
            height: 30px;
            border: none;
            border-radius: 10px;
            font-size: 0.7em;
            color: #a6c6f5;
        }
        .logout-btn button:hover{
            color: white;
            border: 1px solid white;
            border-radius: 10px;
            transition: ease;
            background-color:#a6c6f5;
        }
        .logout-btn a{
            text-decoration: none;
            color: #a6c6f5;
        }
        .logout-btn a:hover{
            color: white;
        }
        aside{
            grid-area: side;
            gap: 10px;
            padding: 10px;
        }
        .sidebar{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            font-size: 1.2em;
            gap: 50px;
        }
        .small-cards{
            padding: 10px;
            width: 100px;
            min-height: 100px;
            border: 1px solid #a6c6f5;
            border-radius: 10px;
        }
        span{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        @media(max-width:600px){
            
            main{
                grid-template-areas: "head head head"
                "side side side"
                "content content content";
                grid-template-rows: auto;
            }
            header{
                display: grid;
                grid-template-columns: repeat(auto-fit);
                padding: 10px;
            }
            .sidebar{
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 8px;
            }
            .small-cards{
                width: 100px;
                height: 10 0px;
                display: grid;
                font-size: 0.9em;
            }
            span{
                display: flex;
                justify-content: center;
                align-items: center;
            }
             thead{
            display: none;
        }    
        tr{
            display: block;
            margin-top: 20px;
            background-color: white;
            border: 2px solid #a6c6f5;
            padding: 10px;
            overflow: hidden;
        }
        td{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            text-align: left;
            border: none;
            position: relative;
            padding-left: 120px;
            min-height: 40px;
            word-break: break-word;
            background-color: white;
        }
        td::before{
            content: attr(data-label);
            left: 10px;
            font-weight: bold;
            text-align: left;
            width: 100px;
        }
        }
        .staus-badge{
            padding: 5px;
            border-radius: 20px;
            font-weight: bold;
            font-size: 0.8em;
        }
        .open-Ticket{
            background-color: #ffebee;
            color: #d32f2f;
        }
        .In-Progress{
            background-color: #fff3e0;
            color: #ef6c00;
        }
        .Resolved{
            background-color: #e8f5e9;
            color: #2e7d32;
        }
        @media(max-width:992px){
            
            main{
                grid-template-areas: "head head head"
                "side side side"
                "content content content";
                grid-template-rows: auto;
            }
           
            .sidebar{
                position: sticky;
                top: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 8px;
            }
            .small-cards{
                width: 100px;
                height: 10 0px;
                display: grid;
                font-size: 0.9em;
            }
            span{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            thead{
            display: none;
            }    
        tr{
            display: block;
            margin-top: 20px;
            background-color: white;
            border: 2px solid #a6c6f5;
            padding: 10px;
            overflow: hidden;
        }
        td{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            text-align: left;
            border: none;
            position: relative;
            padding-left: 120px;
            min-height: 40px;
            word-break: break-word;
            background-color: white;
        }
        td::before{
            content: attr(data-label);
            left: 10px;
            font-weight: bold;
            text-align: left;
            width: 100px;
        }
    }
          table{
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        
        thead{
            background-color: #a6c6f5;
        }
        td{
            border: 1px solid #000000;
            padding: 10px;
            text-align: left;
        
        }
        th, td { 
        align-items: flex-start;
        padding: 12px;
        border: 1px solid #eee; 
        }
        article{
            grid-area: content;
            padding: 15px;
        }
        .search-field{
            display: flex;
            justify-content: flex-end;
        }
        .search-field input{
            width: 200px;
            height: 30px;
            padding-left: 10px;
            outline: none;
        }
        .search-field input:focus{
            border: 1px solid #a6c6f5;
            outline: none;
        }
        .btn{
            width: 100px;
            height: 30px;
            border: none;
            border-radius: 10px;
            font-size: 0.7em;
            color: #5991e6;
            font-size: 0.9em;
        }