  * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  font-size: 1.2em;
  background-color: white;
  color: black;
}
main{
  display: grid;
  grid-template-areas: "head head head"
  "content content content";
  grid-row: 50px auto 50px;
  gap: 10px;
}
header{
  width: 100%;
  padding: 10px;
  grid-area: head;
  display: flex;
  flex-wrap: wrap;
  background-color: #a6c6f5;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}
article{
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
#form{
  border-radius: 10px;
  width: 400px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
@media(max-width:600px){
  #form{
    position: relative;
    top: 50px;
    width: 350px;
    border: 1px solid #a6c6f5;
    border-radius: 10px;
    text-align: center;
  }
  #form a{
    font-size: 0.8em;
    color: #4781d8;
    text-decoration: none;
  }
}
.input-field {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  padding-left: 10px;
}
.input-field:focus {
  border: 1px solid #a6c6f5;
  padding-left: 10px;
}
#btn2 {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  background-color: black;
  color: white;
}
#btn2:hover {
  background-color: rgb(29, 27, 27);
}
#btn2 a{
  color: white;
  font-size: 1.2em;
}
textarea{
  padding-top: 5px;
}